*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #a8e063;
   min-height: 100vh;
   display: grid;
   place-items: center;
}

.container {
    background-color: #fff;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    /* display: flex;
    flex-direction: column; */
}

.container>h1 {
    text-align: center;
    margin-bottom: 30px
}

.container .all-balance {
    
}

.container .balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #56ab2f;
    border-radius: 10px;
}

.tracker{
    display: flex;
    justify-content: space-around;
    outline: 1px solid yellow;
}

.transaction {
    outline: 1px solid blue;
}

.add-transaction {
    outline: 1px solid green;
}